<launch>
<!-- Run NAP on bag files which contains the odometry in addition to imu, gray image and color image-->

  <!-- Corridor #02
  -->
  <arg name="bag_base" default="/media/mpkuse/Bulk_Data/other_seqs/tony_bags/"/>
  <!--<arg name="bag_name" default="00.bag"/>-->
  <!--<arg name="bag_name" default="corridor_02_cooked.bag"/> -->
  <arg name="bag_name" default="parking_lot_00_cooked.bag"/>
  <node name="rosbag" pkg="rosbag" type="play" args="-r 3 -d 5 $(arg bag_base)/$(arg bag_name)" output="log" />

  <arg name="bluefox_topic" default="/mv_25001498/image_raw"/>
  <arg name="imu_topic" default="/imu_3dm_gx4/imu"/>
  <arg name="color_image_topic" default="/mv_29900616/image_raw_resized"/>
  <!--<arg name="color_image_topic" default="/mv_29900616/image_raw"/>-->



    <node name="nap" pkg="nap" type="nap_time_node.py" output="screen" >
      <remap to="$(arg color_image_topic)" from="/semi_keyframes"/>
    </node>

    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find nap)/rviz/euroc.rviz" />
    <node name="nap_viz" pkg="nap" type="colocation_viz.py" output="screen" /> <!-- subscribes to /vins_estimator/odometry -->

</launch>
